// Bring in support styles
@import "mixins";

html,
body {
  width: 99%;
  margin: 0;
  padding: 0.5%;
}

.container-fluid {
  width: 100%;
  max-width: 1200px;
  margin: 5px auto;
}

#map {
  max-width: 710px;
  margin: 0 auto;
  transition: 0.3s ease-in-out;
}

.tab-header {
  width: 100%;
  display: inline-flex;
  margin-bottom: -1px;

  .tab {
    border: 1px solid #e4e4e4;
    cursor: pointer;

    h3 {
      margin: 0;
      padding: 10px 20px;
    }

    &.active {
      background: $section;
      border-bottom-color: $section;
    }
  }
}

section {
  &.map {
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    > .loading-wrapper {
      width: 700px;
      height: 410px;
      margin: 0 auto;

      .loading-spinner {
        margin-top: 124px;
      }
    }
  }

  &.charts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 1px solid #e4e4e4;
    background: $section;
    padding: 1%;

    .filler {
      width: calc(100% - 312px);
      background: #f8f6f0;
      border-radius: 10px;
      padding: 10px 15px;
      height: 442px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
    }
  }

  &.ads {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 10px;
    margin: 0 auto;
    max-width: 1060px;
  }
}

form {
  &.side-nav {
    position: relative;
    width: 100%;
    max-width: 250px;
    min-width: 230px;
    margin: 10px 0 10px auto;
    border: 1px solid #ddd;
    padding: 1em;
    box-shadow: 0 0.3rem 0.7rem rgb(0 0 0 / 10%);

    button {
      position: absolute;
      width: 90%;
      bottom: 10px;
      padding: 5px 20px;
      left: 5%;
    }

    .toggle-button {
      position: relative;
      width: 100%;
      height: 38px;
      padding: 5px;
      color: grey;
      left: 0;
      background: transparent;
      border-color: transparent;
      cursor: pointer;
      max-width: 250px;

      &.disabled {
        &::before {
          content: "";
          position: absolute;
          top: 4px;
          left: 16px;
          width: 48px;
          height: 27px;
          background: #c05034;
          display: inline-block;
          margin-right: 10px;
          border: 1px solid #eae8e1;
          border-radius: 3px;
        }
        &::after {
          content: "";
          position: absolute;
          top: 4px;
          left: 19px;
          width: 22px;
          height: 21px;
          background: #f8f6f0;
          display: inline-block;
          margin-top: 3px;
          box-shadow: 9px 0px 14px -6px #5d5d5d;
          border-radius: 3px;
        }
      }

      &.active {
        &::before {
          content: "";
          position: absolute;
          top: 4px;
          left: 16px;
          width: 48px;
          height: 27px;
          background: #83a846;
          display: inline-block;
          margin-right: 10px;
          border: 1px solid #eae8e1;
          border-radius: 3px;
        }

        &::after {
          content: "";
          position: absolute;
          top: 4px;
          left: 39px;
          background: #f8f6f1;
          width: 22px;
          height: 21px;
          display: inline-block;
          margin-top: 3px;
          box-shadow: -9px 0px 14px -6px #5d5d5d;
          border-radius: 3px;
        }
      }
    }
  }

  &.filter-wrapper {
    display: flex;
    flex-flow: row wrap;
    // justify-content: flex-end;
    width: 100%;
  }

  .form-group {
    width: 100%;
    margin: 5px 0;
    padding: 5px;

    &.select {
      width: auto;

      h4 {
        margin: 0 0 5px 5px;
      }
    }

    &.reset {
      margin-top: 30px;
      width: auto;
    }

    .input-select {
      width: fit-content;
      margin-left: 5px;
      padding-right: 32px !important;
    }
  }

  select {
    width: 96%;
    // margin: 2%;
    padding: 5px;
  }
}

.charts {
  &.county {
    justify-content: flex-start;

    .mini {
      margin-right: 0.5em;
    }
  }
}

.chart-wrapper {
  // width: 450px;
  width: 46.8%;
  height: 100%;
  border: 1px solid #ddd;
  padding: 1em;
  box-shadow: 0 0.3rem 0.7rem rgb(0 0 0 / 10%);
  margin-bottom: 10px;
  background-color: #fff;

  &.mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 200px;
    max-width: 24%;
  }

  .chart {
    padding: 10px;

    h2 {
      margin: 0 0 10px;
    }

    .chart-dropdown {
      display: block;
      margin-left: auto;
    }

    &.after-color {
      position: relative;

      &.yellow {
        :before {
          position: absolute;
          top: 48px;
          left: 0;
          right: 0;
          content: "";
          display: block;
          width: 100%;
          max-width: 297px;
          height: 160px;
          margin: 0 auto;
          padding: 70px 0;
          margin: 0 auto;
          border-radius: 300px;
          background: yellow;
        }
      }

      &.beige {
        &:before {
          position: absolute;
          top: 48px;
          left: 0;
          right: 0;
          content: "";
          display: block;
          width: 100%;
          max-width: 297px;
          height: 160px;
          margin: 0 auto;
          padding: 70px 0;
          margin: 0 auto;
          border-radius: 300px;
          background: beige;
        }
      }

      &.orange {
        &:before {
          position: absolute;
          top: 48px;
          left: 0;
          right: 0;
          content: "";
          display: block;
          width: 100%;
          max-width: 297px;
          height: 160px;
          margin: 0 auto;
          padding: 70px 0;
          margin: 0 auto;
          border-radius: 300px;
          background: orange;
        }
      }

      &.red {
        &:before {
          position: absolute;
          top: 48px;
          left: 0;
          right: 0;
          content: "";
          display: block;
          width: 100%;
          max-width: 297px;
          height: 160px;
          margin: 0 auto;
          padding: 70px 0;
          margin: 0 auto;
          border-radius: 300px;
          background: red;
        }
      }

      &.dark-red {
        &:before {
          position: absolute;
          top: 48px;
          left: 0;
          right: 0;
          content: "";
          display: block;
          width: 100%;
          max-width: 297px;
          height: 160px;
          margin: 0 auto;
          padding: 70px 0;
          margin: 0 auto;
          border-radius: 300px;
          background: darkred;
        }
      }
    }
  }

  .chart-container {
    height: 300px;
  }

  .color-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 280px;
    height: 160px;
    padding: 70px 10px;
    margin: 0 auto;
    border-radius: 300px;
    text-align: center;

    .dsic-container {
      background: #fff;
      display: flex;
      flex-flow: column;
      justify-content: center;
      border-radius: 300px;
      width: 200px;
      height: 200px;
      margin-top: -19px;
    }
  }

  &.yellow {
    background: yellow;
  }

  &.beige {
    background: beige;
  }

  &.orange {
    background: orange;
  }

  &.red {
    background: red;
  }

  &.dark-red {
    background: darkred;
  }
}

.table {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 400px;
  width: 100%;
  min-width: 100%;
  overflow: scroll;
  border: 2px solid #39b613;

  .table-wrapper {
    position: absolute;
    top: 0;
  }

  h1 {
    text-align: center;
    font-size: 3em;
  }

  .row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

    &:nth-child(odd) {
      background: #def1de;
    }

    &.header {
      background-color: #39b511;
      color: #fff;

      .col {
        border-top: none;

        &:first-child {
          border-left-color: #39b511;
        }

        &:last-child {
          border-right-color: #39b511;
        }
      }
    }

    .col {
      border: 1px solid #e8e8e8;
      width: 150px;
      min-width: 150px;
      padding: 5px 3px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
    }
  }

  .col {
    &.asc {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 11px;
        width: 0;
        margin-left: 5px;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #fff;
      }
    }
    &.desc {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 11px;
        width: 0;
        margin-left: 5px;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
      }
    }
  }
}

.card {
  width: 100%;
  max-width: 250px;
  margin: 5px;
  border: 1px solid #ddd;
  padding: 0 1em 1em;
  box-shadow: 0 0.3rem 0.7rem rgb(0 0 0 / 10%);

  h2 {
    margin: 0.5em 0;
  }

  h4 {
    margin: 1em 0;
  }

  img {
    width: 100%;
  }
}

.disclaimer {
  margin-top: 5em;
  background: #f8f6f1;
  padding: 10px 15px;
  border-radius: 10px;

  h4 {
    margin: 1.5em 0;
  }
}

.drought-scale {
  width: 100%;
  padding: 5px;
  display: inline-flex;
  flex-flow: row nowrap;

  > div {
    display: block;
    width: 5%;
    height: 15px;
  }
}

.drought-scale-legend {
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  h6 {
    padding: 5px;
    margin: 0;
  }
}

// Bring in support styles
@import "utilities";

// Bring in wp app overrides
@import "overrides";

// Bring in responsive styles
@import "responsive";
