@media all and (max-width: 1200px) {
  #map {
    margin: 0 auto;
  }

  .map {
    .loading-content {
      margin: 0 auto;
    }
    &.hide {
      .loading-wrapper {
        display: none;
      }
    }
  }
  form.side-nav {
    max-width: 100%;
    margin-top: 2em;

    button {
      position: relative;
      width: 100%;
      left: 0;
    }

    select {
      width: 100%;
    }
  }

  .w-75 {
    max-width: 100%;
  }
  .w-25 {
    max-width: 300px;
  }
}

@media all and (max-width: 900px) {
  .w-50 {
    max-width: 100%;
  }
  .w-25 {
    max-width: 50%;
  }

  section.charts {
    .filler {
      width: 49%;
    }
  }
}

@media all and (max-width: 810px) {
  #map {
    display: none;
  }
}

@media all and (max-width: 700px) {
  .w-25 {
    max-width: 100%;
  }
}
